{
    "branches": [
        "main"
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/changelog",
        [
            "@semantic-release/github",
            {
                "prepareCmd": "echo ${nextRelease.version} > version.txt",
                "assignees": "renebentes"
            }
        ],
        "@semantic-release/git"
    ],
    "preset": "conventionalcommits"
}
